<div class="row">
  <div class="col-md-3">
    <a routerLink="home">Go To Home</a>
    <!--routerLink href yerine kullanılıyor -->
  </div>
  <div class="col-md-3">
    <a routerLink="role">Go To Role</a>
  </div>
  <div class="col-md-3">
    <a routerLink="user">Go To User</a>
  </div>
  <div class="col-md-3">
    <a [routerLink]="['user',7]">Go To User 7 Detail</a>
     <!-- query string ya da route data tanımlamaları var ise bu şekilde kullanıyoruz -->
  </div>
</div>

<button igxButton="raised">Raised</button>


<router-outlet></router-outlet>
  <!--router-outlet mvc de ki @Html.RenderAction gibi çalışmaktadır -->
  <!--static olarak çağırmak istersek <app-componenet></app-component> olarak çağırılır -->

<ngx-spinner></ngx-spinner>
